#column1 {
  float: left;
  width: 50%;
  height: 100vh;
  background-image: url('https://images.wallpaperscraft.com/image/hologram_ball_core_150682_3840x2400.jpg');
}

#column2 {
  float: left;
  width: 50%;
  height: 100vh;
  background-image: url('https://images.wallpaperscraft.com/image/hologram_scheme_scifi_139294_3840x2400.jpg');
}

#portrait1 {
  position: absolute;
  margin-top: 60px;
  background-image: url('https://res.cloudinary.com/debasis-pattanaik/image/upload/w_1000,c_fill,ar_1:1,g_auto,r_max,bo_5px_solid_red,b_rgb:262c35/v1622958801/WhatsApp_Image_2021-06-06_at_11.13.01_AM_jblgkt.jpg');
  width: 200px;
  height: 200px;
  left: 25%;
  top: 25%;
  transform: translate(-50%, -50%);
  background-position: top;
  background-size: 100%;
  border-radius: 100px;
  box-shadow: 1px 1px 10px;
}
#portrait2 {
  position: absolute;
  margin-top: 60px;
  background-image: url('https://res.cloudinary.com/debasis-pattanaik/image/upload/w_1000,c_fill,ar_1:1,g_auto,r_max,bo_5px_solid_red,b_rgb:262c35/v1629842994/WhatsApp_Image_2021-08-25_at_3.39.21_AM_yqn8o0.jpg');
  width: 200px;
  height: 200px;
  left: 75%;
  top: 25%;
  transform: translate(-50%, -50%);
  background-position: top;
  background-size: 100%;
  border-radius: 100px;
  box-shadow: 1px 1px 10px;
}

.photohead {
  color: white;
  font-family: sans-serif;
  text-align: center;
  margin-top: 45vh;
}

.photodescription {
  font-family: verdana;
  font-size: 16px;
  text-align: justify;
  color: white;
  padding: 30px;
}
