.register {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url("https://images.wallpaperscraft.com/image/cups_table_chains_124346_3840x2400.jpg");
  background-size: cover;
  align-items: center;
}
.register-input {
  border-radius: 10px;
  border: none;
  padding: 10px;
}
.register-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.register-form > label {
  margin: 10px 0;
}
.registerr-button {
  top: 20px;
  cursor: pointer;
  background-color: teal;
  color: aliceblue;
  border-radius: 10px;
  padding: 10px;
  border: none;
  margin-top: 20px;
}
.register-login-button {
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: lightcoral;
  cursor: pointer;
  border-radius: none;
  padding: 10px;
  color: aliceblue;
  border-radius: 10px;
}
.register-title {
  font-size: 50px;
  color: bisque;
}
