.settings {
  display: flex;
}
.setting-wrapper {
  flex: 9;
  padding: 20px;
}
.setting-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 574px;
}
.setting-update-title {
  font-size: 30px;
  margin-bottom: 20px;
  color: lightcoral;
}
.setting-delete-title {
  border: 1px solid;
  border-radius: 5px;
  height: 30px;
  width: 160px;
  align-items: center;
  
  background-color: red;
  text-align: center;
  position: absolute;
  margin-left: 679px;
  display: grid;
  font-size: 14px;
  color: white;
  cursor: pointer;
}
.setting-form {
  display: flex;
  flex-direction: column;
}
.setting-form > label {
  font-size: 20px;
  margin-top: 20px;
}
.setting-form > input {
  color: grey;
  margin: 10px 0;
  height: 30px;
  border: none;
  border-bottom: 1px solid green;
}
.setting-dp {
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.setting-dp > img {
  width: 70px;
  height: 70px;
  border-radius: 20px;
  object-fit: cover;
}
.setting-file-input {
}
.setting-dp-icon {
  width: 25px;
  height: 25px;
  border-radius: 50px;
  background-color: lightcoral;
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  cursor: pointer;
}
.setting-submit {
  width: 150px;
  align-self: center;
  border: none;
  border-radius: 10px;
  color: aliceblue;
  background-color: teal;
  height: 50px;
  font-size: 20px;
  padding: 10px;
  margin-top: 20px;
  cursor: pointer;
}
.login-input {
  padding: 10px;
  background-color: bisque;
  border: none;
}
