.header {
  margin-top: 60px;
}
.headerTitles {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Pacifico", cursive;
  color: #444;
}

.header-title-large {
  position: absolute;
  font-size: 100px;
  top: 18%;
}
.header-image {
  width: 100%;
  height: 450px;
  margin-top: 80px;
  object-fit: cover;
}
