.post {
  width: 385px;
  margin: 0px 25px 40px 25px;
  margin-top: 10px;
}
.post-image {
  width: 100%;
  height: 280px;
  object-fit: cover;
  border-radius: 10px;
}
.post-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.post-category {
  font-family: "Nanum Brush Script", cursive;
  font-size: 15px;
  color: darkred;
  line-height: 20px;
  margin-top: 15px;
  margin-right: 10px;
  cursor: pointer;
  font-weight: 800;
}
.post-title {
  cursor: pointer;
  font-family: "Comfortaa", cursive;
  font-size: 24px;
  font-weight: 700;
  margin-top: 15px;
}
.post-date {
  font-family: "Comfortaa", cursive;
  font-style: italic;
  font-size: 13px;
  color: #999;
  margin-top: 15px;
}

.post-desc {
  font-family: "Caveat", cursive;
  font-size: 20px;
  color: #444;
  line-height: 24px;
  margin-top: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
